// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.class-one
  background-color: #6A5ACD;

.class-two
  background-color: #6A5ACD;

.class-three
  background-color: #800000;

.class-four
  background-color: #2F4F4F;
